* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

a:link, a:visited{
    text-decoration: none;
    color:black;
}



.first-block {
    background-image: url("./assets/first-block-bg.png");
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    margin:0 4%;
    position: relative;
    padding-top: 2rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    overflow: hidden;
    height: 3.5em;
    width: 30rem;
    align-self: center;
    border-radius: 0.2rem;
}


.logo-patch {
    position:absolute;
    background-color: white;
    width: 8.5rem;
    height: 5rem;
    box-shadow: rgba(0,0,0,0.25) 0 0 10px 0;
    display: flex;

    border-radius: 5px;
}

.logo-img{
    max-width: 100%;
    height: auto;
    padding: 1rem;
    align-self: flex-start;
    justify-self: flex-start;
}

.burger-menu{
    background-color: red;
    align-self: flex-start;

}
