@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-weight: 400;
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}


.first-block {
    background-image: url("./assets/first-block-bg.svg");
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 4%;
    position: relative;
    padding-top: 2rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    height: 2.75rem;
    width: 100%;
    align-self: center;
    border-radius: 0.2rem;
    position: relative;
    padding: 0 0.25rem;
}

.logo-patch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 6rem; /* Adjust as needed */
    height: 4rem; /* Adjust as needed */
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}


.logo-img {
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
}

.burger-menu {
    margin: 0 0.5rem;
    align-self: center;
}

.download-btn {
    margin-left: auto;
    color: white;
    background-color: #5956E9;
    box-shadow: none;
    border: none;
    padding: 0.75rem 0.3rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.app-download-container {
    display: flex;
    flex-direction: column;
    margin: 8rem 1rem 10rem 0;
    background: white;
    /*box-shadow: 10px 0 0 10px rgba(117, 114, 255, 1.0),*/
    /*5px 0 0 0 rgba(89, 86, 233, 1) inset,*/
    /*20px -5px 0 0 rgba(89, 86, 233, 1) inset,*/
    /*20px 5px 0 0 rgba(89, 86, 233, 1) inset,*/
    /*20px 5px 0 0 rgba(89, 86, 233, 1) inset,*/
    /*-20px 5px 0 0 rgba(89, 86, 233, 1) inset,*/
    /*-10px 0 0 10px rgba(117, 114, 255, 1.0);*/


    padding: 2rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    gap: 1.5rem;
    max-width: 90%;
}

.app-download-h2 {
    margin-top: 1rem;
    color: #5956E9;
    text-transform: uppercase;
    font-weight: 500;
}

.app-download-textbox {
    color: #6C6C72;
    font-weight: 400;
    align-self: center;
}

.app-download-app-ad {
    align-self: start;
    font-weight: 500;
    text-transform: uppercase;
}

.app-download-stores {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ui-view-img {
    max-height: 100%;
    width: auto;
    align-self: center;
    margin: 0 0 50%;
}

.second-block {
    display: flex;
    flex-direction: column;
    padding: 0 0 20%;
}


.about-app-block-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin: 10% 10% 0;
}


.about-app-block > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    list-style: none; /* Remove default list style */
}

.about-app-block > ul > li {
    display: flex; /* Flex display for horizontal alignment */
    align-items: flex-start; /* Align items to the top */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem 5%;
    text-align: start;
    color: #6C6C72;
    list-style-position: outside; /* Ensure list-style is outside */
    margin: 0 5%;
}

.about-app-block > ul > li::before {
    content: url("/assets/icons/second-block-list-img.svg");
    margin-right: 1rem; /* Space between icon and text */
}

.about-app-block > ul > li div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between h3 and text */
    line-height: 1.5rem;
}

.about-app-block > ul > li > div > h3 {
    color: black;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}

.about-app-block > img {
    display: block;
    margin: 10% auto 10%;
    width: 50%;
}

.third-block {
    background-image: url("./assets/first-block-bg.svg");
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 15% 10%;
    gap: 2rem;
}

.third-block > h2 {
    font-weight: 500;

}

.third-block > img {
    width: 3rem;
    margin: auto;
}

.third-block > div {
    margin: 0 10%;
}

.ui-view-features > img {
    height: 100%;
    width: 100%;

}

.fourth-block {
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 20% 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.slider {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: #5956E9;
    border-radius: 50%;

}

.text {
    color: #6C6C72;
}

.fifth-block {
    margin: 5% 5%;
}

.margin-h-2 {
    margin: 2rem 0;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rating > div {
    background-color: #5956E9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    height: 6.25rem;
    width: 6rem;
    text-align: center;
    padding: 1rem 0;
    gap: 0.5rem;
}

.fifth-block > img {
    margin: 20% 0;
}


.sixth-block {
    background: linear-gradient(to bottom, #5956E9 70%, white 30%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.sixth-block-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 15% 10% 0;
}

.sixth-block > img {
    width: 24rem;
    margin: -15% auto -15%;
}

.seventh-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.seventh-block-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 10%;
}

.seventh-block-head > h2 {
    font-weight: 500;

}

.team-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    padding: 5rem 0.5rem 10%;
}

.team-card > img {
    max-height: 19rem;
    margin: 0 auto 20%;

}

.team-card > h1 {
    font-weight: 700;
}

.team-card > h3 {
    color: #6C6C72;
    font-weight: 600;
    font-size: 1.25rem;
}

.team-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 0 0
}

.team-social > img {
    padding: 0 2rem 0;
}

.team-social > img {
    border-right: black solid 1px;
}

.team-social > img:last-child {
    border: none;
}

.eighth-block {
    background-image: url("./assets/eight-block-bg.svg");
    text-align: center;
    padding: 4rem 0;
}

.eighth-block-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    margin: 0 10% 0;
}

.eighth-block-customer > h2 {
    font-weight: 500;
}

.eighth-block-customer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0.5rem;
    background: white;
    width: 21.5rem;
    height: 15.5rem;
    border-radius: 10px;
    margin: 0 5% 2rem;
    gap: 2rem;
}
.eight-block-customer-head{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.eight-block-customer-head>img{
    max-width: 50px;
    margin: 0 auto 1rem;
}

.white-dot {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;

}